@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  vertical-align:baseline;
  list-style:none;
  border:0;        
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:white;
}
.linha{
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  padding: 5px 0px;
}
.coluna{
  padding: 0px 10px;
  /* FlutuaÃ§Ã£o  */
  float: left;
}
.cabecalho{
<<<<<<< HEAD:Style.CSS
  background-color: #000000;
=======
  background-color: black;
>>>>>>> 4e465279e1ae2380500c1778c61c8644fc7d1380:bebidas.css
  border-bottom: solid 6px black;
  height: 100px;
  box-sizing: content-box;    
}
.logo{
  display: inline-block;
  height: 140px;
  width: 140px;
}
<<<<<<< HEAD:Style.CSS
/* .logo img{
  height: 100%;
 
}  */
.menu-toggle{
  float: right;
  color: #ffa500;
  background-color: #000000;
  border: solid 1px white;
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px;
  margin: 20px 15px;
 
}
=======

>>>>>>> 4e465279e1ae2380500c1778c61c8644fc7d1380:bebidas.css
.menu{
  display: inline-block;
  vertical-align: top;
  height: 80px;
  padding: 25px;
}
.menu li{
  display: inline-table;
  margin: 12px;
  margin-right: 80px;
}
.cabecalho a{
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  
}
.menu a{
  padding: 15px;
<<<<<<< HEAD:Style.CSS
  background-color: #000000;
=======
>>>>>>> 4e465279e1ae2380500c1778c61c8644fc7d1380:bebidas.css
  border-radius: 10px;
  
}
.autenticacao{
  float: right;
  height: 80px;
  padding: 25px;
}
.menu a:hover,
.menu a.selected{
  background-color: #ffffff;
  color: black;
}

@media(min-width: 679px){
  .menu-toggle{
      display: none;
  }
}
@media(max-width: 680px){
  .menu{
      display: none;
  }
}
 
@media(max-width: 910px){
  .autenticacao{
      display: none;
  }
}

.item img{
  height: 200px;
  width: 200px;
  position: relative;
}
.item span{
  text-align: center;
  margin-left: 40px;
}
.item button{
  border-radius: 20px;
  background-color: white;
  
}
img .lobo{
  margin-left: 500;
}
.div
{
width: 33.33%;
min-width: 1000px;
display: inline-block;
vertical-align: top;
}
td 
{ 
  background: rgb(255, 255, 255); 
  padding:10px 
}
.tdEspaco 
{ display: table; 
  float:left; 
  margin-right:10px 
}
table 
{ 
  border-spacing: 5px; 
}

